<template>
  <div class="Conference">
    <v-container>
      <h1>Clase Algebra</h1>
      <v-row>
        <v-carousel
          :continuous="false"
          hide-delimiter-background
          delimiter-icon="mdi-square"
          height="100"
          show-arrows="hover"
          cycle
          interval="2000"
        >
          <v-carousel-item v-for="(student, i) in students" :key="i">
            <v-sheet :color="colors[i]" height="100%" tile>
              <div class="d-flex fill-height justify-center align-center">
                <div class="text-h2">
                  <div>Estudiante: {{ student }}</div>
                </div>
              </div>
            </v-sheet>
          </v-carousel-item>
        </v-carousel>
      </v-row>
      <br />
      <v-row>
        <v-col>
          <img src="../assets/conference_call.png" />
        </v-col>
        <v-col>
          <v-card v-for="exercise in exercises" :key="exercise.id">
            <template v-slot:text>
              <v-checkbox
                v-model="exercise.is_active"
                :label="`Ejercicio: ${exercise.name}`"
                @click="triggerExerciseState"
              ></v-checkbox>
            </template>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style></style>

<script setup lang="ts">
import { ref, onMounted, onUnmounted } from "vue";

const useExercises = function () {
  const exercises = ref([]);
  const loadexercises = async function () {
    const exercises_response = await fetch("http://localhost:8080/exercise/");
    const exercises_request_result = await exercises_response.json();
    exercises.value = exercises_request_result;
  };

  const triggerExerciseState = async function () {
    const exercise = exercises.value[exercises.value.length - 1];

    const headers = new Headers();
    headers.append("Content-Type", "application/json");
    await fetch(`http://localhost:8080/exercise/${exercise.id}/`, {
      method: "PATCH",
      body: JSON.stringify({ is_active: !exercise.is_active }),
      headers: headers,
    });
  };

  return { exercises, loadexercises, triggerExerciseState };
};

const { exercises, loadexercises, triggerExerciseState } = useExercises();
loadexercises();
const colors = [
  "green",
  "secondary",
  "yellow darken-4",
  "red lighten-2",
  "orange darken-1",
];
const students = [
  "Victor Murillo",
  "Bennett Rocha",
  "Leyla Novak",
  "Joshua Nunez",
  "Maeve Bennett",
];
</script>
